body {
  margin: 0;
  padding: 0;
}

.progress-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: black;
  transform-origin: 0%;
  z-index: 9999;
}

.heros-grandient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 252, 251, 1) 26%,
    rgba(222, 241, 228, 1) 60%,
    rgba(205, 232, 213, 1) 88%,
    rgba(191, 246, 207, 1) 100%
  );
}
